<h3> Merge Articles </h3>
<div class='merge_form'>
  <%= form_tag({controller: "content", action: "merge"}, method: "post", class: "merge_form") %>
  <%= error_messages_for 'merge' %>
  <div class='clearfix'>
    <div class='input'>
    
      <label for="merge_with"><%= _("Article ID") %></label>    
      <%= text_field :article, :id, {:id => 'merge_with', :name => 'merge_with'} %>
      <%= hidden_field :article, :id, {:id => 'current_loser', :name => 'current_loser', :value => @article.id} %>
      
    </div>
  </div>
  <div class='action'>
    <%= submit_tag "Merge" %>
  </div>
</div>
